#root {
  max-width: 1280px;
  margin-top: 50px;
  text-align: center;
}

.team
{
  width: 100vw;
  max-height: 650px;
  display: flex;
  flex-direction: row;

  background-color: var(--color-blue);
}

.team_member
{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;

  padding: 20px 75px 60px;

  color: white;
}

.team_member_name
{
  color: var(--color-blue-light);
  font-size: 40px;
}

.team_member_role
{
  font-size: 15px;
}

.team_member > *
{
  margin-inline: auto;
  align-self: center;
}

.team_member_img
{
  width: 200px;
  aspect-ratio: 1 / 1;

  object-fit: cover;
}

.team_member_email
{
  align-self: end;
  color: var(--color-blue-light);
}