.hero
{
    background-image: url(../public/hero_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vw;
}

.hero_contents
{
    width: 100%;
    min-height: 900px;

    backdrop-filter: blur(5px) brightness(80%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > *
    {
        margin-bottom: 30px;
    }
}

.hero_button
{
    background-color: var(--color-blue-dark);
    color: white;

    border-radius: 30px;
    padding: 9px 30px;
}

.hero_description
{
    width: 70ch;
}