:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-orange: #E97A16;
  --color-red: #D34D27;
  --color-orange-light: #D68B40;
  --color-green: #4C732C;
  --color-blue: #2c4c5b;
  --color-blue-dark: #153246;
  --color-blue-light: #c3e3ff;
}

*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: inherit;
}


body
{
  display: flex;
  flex-direction: column;

  background-color: var(--color-blue-dark);

  width: 100%;
  height: 100vh;

  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
