.container
{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.scheduler
{
    background: white;
    width: 1000px;
    height: 600px;

    padding: 20px;
}

.scheduler_title
{
    width: 100%;
    font-size: 32px;
    border-bottom: 1px solid lightgray;

    padding-bottom: 20px;
}

.scheduler_inputs
{
    display: flex;
    flex-direction: column;

    padding-top: 20px;

    > * {
        padding-bottom: 24px;
    }
}

.scheduler_options
{

}


.scheduler_options_submit
{
    background-color: dodgerblue;
    color: white;
    margin-right: 10px;
}

.scheduler_options_cancel
{
    background-color: lightgray;
}


.scheduler_contents {
    display: flex;
    width: 100%;
    height: 90%;

    margin-top: 10px;

    padding-bottom: 30px;
}

.left {
    flex: 2; /* takes 2 parts */
    border-right: 1px solid lightgray;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right {
    flex: 1; /* takes 1 part */
    padding-left: 25px;
}


.right_title
{
    margin-bottom: 30px;
}

.appointments
{
    width: 100%;
    height: 90%;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.appointment
{
    background-color: var(--color-blue-light);
    color: white;

    border-radius: 15px;

    width: max(275px, 80%);
    margin-bottom: 15px;

    padding: 5px 15px;
}

.appointment_contact
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid lightgray;
}

.appointment_email
{
    font-size: 12px;
}